node_modules
.DS_Store
dist
dist-ssr
*.local
.idea

.vscode

/private
/out
/tmp
.env

/extra/healthcheck.exe
/extra/healthcheck
/extra/healthcheck-armv7

extra/exe-builder/bin
extra/exe-builder/obj

.vs
.vscode

/data/error.log
/data/kuma.db
/data/db-config.json.bak
